body {
    background-color: rgb(54, 11, 18);
    color: blanchedalmond;
    font-family: monospace;
}
#nome {
    font-family: 'Courier New', Courier, monospace;
}
#sobre-mim {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.descricao {
    font-family:Arial, Helvetica, sans-serif ;
}
.resido {
    font-style: italic;
}
.responsavel {
    font-style: italic;
}
.versatil {
    font-style: italic;
}
.habilidades {
    font-size: 14px;
}
.fotominha {
    border-radius: 50%;
    background-color: #5e3f26;
    border: 7px solid #4e3f30;
    padding: 15px;
    position: relative;
    margin: 4px 0;
    box-shadow: 5px 5px 17px 9px #000000;
    
}

.bloco-nome {
    /* border: 2px solid blue; */
    text-align: center;
}
.bloco-foto {
    /* border: 2px solid green; */
    margin: 10px 10px ;
    float: left;
    margin-top: 50px;
    
}
.bloco-descricao {
    /* border: 2px solid rgb(255, 0, 191); */
    width: 500px;
    float: right;
    font-size: 20px;
    margin-left: 10px;
    padding: 10px;
    

    
}
.nome-descr {
    /* border: 2px solid white; */
    display: inline-block;
    margin: auto;
    display: flex;
    justify-content: center;
   
   
    
    
    
}

    